* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 967px) {
    html {
        font-size: 80%;
        /* adjust the base font size for smaller screens */
    }
}

@media (max-width: 768px) {
    html {
        font-size: 60%;
        /* adjust the base font-size for smaller screens */
    }
}

header {
    position: relative;
    z-index:1;
    height: 3rem;
}

.nav {
    background-color: #fff;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    position: fixed;
    width: 100%;
    height: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav div:nth-child(2) {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-weight: bolder;
}

.nav div:nth-child(2) a:nth-child(-n+3) {
    color:black;
    text-decoration: none;
    padding: 0 1rem;
}

.nav div:nth-child(1) img{
    padding: 0 .5rem;
}

.contact-nav {
    align-self: center;
    margin: 0 .5rem;
    padding: .5rem 2rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
}

@media (min-width: 801px) {
    .mobile-nav {
        display: none;
    }
}

@media (max-width: 800px) {
    .full-nav {
        display: none;
    }
    .mobile-nav {
        padding: 0;

    }

    .fa-bars {
        padding: .5rem;
    }
}

/* overlay */
/* mobile overlay nav */

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
    text-align: center;
}

.overlay-text {
    display: block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .5rem 2rem;
    transition: all 200ms ease-in-out;
}

.fa-times {
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    transition: all 200ms ease-in-out
}

.fa-times:hover {
    animation: rotateAnimation 200ms ease-in-out;
}

/* animation*/
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

/* hero style image */
.hero-container {
    position: relative;
    color:#fff;
}

.hero-image {
    height:auto;
    width: 100%;
    display:block;
}

.hero-text  {
    position: absolute;
    top: 50%;
    left: 25vw;
    transform: translate(-50%, -50%);
    text-align: left;
}

@media (max-width: 768px) {
    .hero-text {
        left: 30vw;
    }
}

.hero-btn {
    margin: 3rem;
    padding: .5rem 2rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.hero-text h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

/* yellow spacer */
.yellow-spacer {
    width: 100%;
    height: 2.5rem;
    background-color: #ffbc0a;
}

/* quote */
.quote {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
    box-sizing: border-box;
}

/* floor elements */
.floors h2,
h1 {
    font-size: 2.5 rem;
    text-align: center;
}

.floor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    max-width: 1200px;
    margin: auto;
}

.floor-child {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: .5rem;
    color: #fff;
    background-color: black;
    border-radius: .5rem;
    padding: .5rem 0;
}

.floor-child h4 {
    font-size: 2rem;
    margin: 0;
}

.floor-child h4:nth-child(1) {
    font-size: 1.5 rem;
}

@media (max-width: 768px) {
    .floor-grid {
        grid-template-columns: repeat(1, 1fr); 
    }

    .floor-child {
        width: 70%;
        margin:auto;
    }
}

.provide {
    background-color:#ffbc0a;
    color: black;
    padding: 20px;
    width: 100%;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
}

/* footer */
footer {
    background-color: #272727;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem;
    color:#fff;
    font-size: 1rem;
}

footer div:nth-child(2) {
    text-align: center;
}

footer div:nth-child(2) div:nth-child(1) {
    display: flex;
    justify-content: center;
}

footer div:nth-child(2) div:nth-child(1) a {
    text-decoration: none;
    color:#ffbc0a;
    padding: .5rem;
    font-weight: bolder;
}

footer div:nth-child(3) {
    text-align: right;
}
footer div:nth-child(1) img,
footer div:nth-child(3) img {
    padding: .5rem;
}

/* about */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto 10rem;
    max-width: 1200px;
}

.about img {
    border-radius: .5rem;
}

.about-child2 {
    width: 85%;
    text-align: center;
    color: #fff;
    border-radius: .5rem;
    background-color: black;
}

.about-child2 p {
    text-align: center;
    font-size: 2rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.about-child2 h2 {
    font-size: 2rem;
    
}

.about-child2 a {
    padding: .5rem 2rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    align-self: center;
}

@media (max-width: 768px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem; 
        margin: 0 auto 15rem;
    }

    .about-child2 {
        padding-bottom: 3rem;
    }
    
}

/* form styles */
form {
    color: #fff;
    width: 80%;
    background-color: black;
    padding: 1.5rem;
    border-radius: 1.5rem;
    margin: auto;
    margin-bottom: 2rem;
}

@media (max-width:768px) {
    form {
        margin: 0 auto 16rem;
    }
}

.form1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-hr {
    border-color: #ffbc0a;
    width: 100%;
    margin: 1.5rem 0;
}

.form-input div {
    display: flex;
    flex-direction: column;
}

.form-input input {
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.form-btn {
    display: flex;
    justify-content: center;
}
 .form-btn button {
    padding: .5rem 2rem;
    background-color: #ffbc0a;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    align-self: center;
    margin: 1rem;
 }